






<form class="main-container" [formGroup]="wishlistForm" (ngSubmit) = "onSubmit()">
    <h2>Steam Wishlist Analyser</h2>
    <div class="input-container">
        <div class="inputs">
        <input formControlName="steamID" id="id" type="text" required placeholder="Steam ID">
        <select formControlName="currency" name="currency" id="currency">
            <option value="">Auto</option>
            <option value="PL">PLN</option>
            <option value="US">USD</option>
            <option value="FR">EUR</option>
            <option value="UK">GBP</option>
        </select>
        </div>
        <span>Supports: SteamID, Account URL, Wishlist URL</span>
    </div>
    <input id="submit" type="submit" value="Analise">
</form>
