






.main-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: #29303D;
    border-radius: 15px;
    margin: 0em;
    padding: 1.5em 1em;
    width: 90vw;
    max-width: 600px;

    input{
        font-family: Poppins;
    }

    h2{
        margin: 0em;
        font-weight: 400;
        font-size: 1.3em;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        width: 80%;
        max-width: 500px;

        .inputs{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;

            input,select{
                height: 2.5em;
                border: none;
                color: #737373;
            }

            #id{
                width: 75%;
                border-radius: 5px 0px 0px 5px;
                padding-left: 1em ;
            }

            #currency{
                width: 25%;
                border-radius: 0px 5px 5px 0px;
                padding-left: 0.5em ;
            }
        }
        span{
            font-size: 0.6em;
            align-self: normal;
        }
    }

    #submit{
        border: none;
        padding: 0.3em 1.5em;
        border-radius: 5px;
        letter-spacing: 0.1em;
        font-weight: 300;
        background-color: #2E64D1;
        color: white;
        font-size: 1.1em;
        transition: 250ms;
        cursor: pointer;
    }
    
    #submit:hover{
        background-color: white;
        color: #2E64D1;
    }
}


@media only screen and(min-width: 500px) {

    .main-container {

        gap: 1.5em;
        padding: 2em 1em;

        h2 {
            font-size: 1.5em;
        }

        .input-container {
            width: 80%;

            .inputs {

                input,
                select {
                    height: 2.5em;
                    font-size: 1em;
                }

                #id {
                    width: 80%;
                    padding-left: 1em;
                }

                #currency {
                    width: 20%;
                    padding-left: 0.75em;
                }
            }
            span {
                font-size: 0.8em;
            }
        }

        #submit {
            padding: 0.5em 1.75em;
            border-radius: 8px;
            letter-spacing: 0.2em;
            font-size: 1.25em;
        }
    }
}

@media only screen and(min-width: 1200px) {

    .main-container {

        h2 {
            font-size: 2em;
            letter-spacing: 0.15em;
        }

        #submit {
            padding: 0.5em 2em;
            letter-spacing: 0.2em;
            font-size: 1.25em;
        }
    }
}

