






<form class="main-container" [formGroup]="wishlistForm" (ngSubmit) = "onSubmit()">
    <h2>Steam Wishlist Analyser</h2>
    <div class="input-container">
        <div class="inputs">
        <input formControlName="steamID" id="id" type="text" required placeholder="Steam ID">
        <select formControlName="currency" name="currency" id="currency">
            <option value="">Auto</option>
            <option value="PL,PLN">PLN</option>
            <option value="US,USD">USD</option>
            <option value="FR,EUR">EUR</option>
            <option value="UK,GBP">GBP</option>
        </select>
        </div>
        <span *ngIf = "validLink, else Error">Supports: SteamID, Account URL, Wishlist URL</span>
        <ng-template #Error>
            <span class="error">*This link is invalid</span>
        </ng-template>
    </div>
    <input id="submit" type="submit" value="Analyse">
</form>
