






<div class="main-container">
    <h2>Steam Wishlist Analyser</h2>
    <div class="input-container">
        <div class="inputs">
        <input id="id" type="text" placeholder="Steam ID">
        <select name="currency" id="currency">
            <option value="auto">Auto</option>
            <option value="PLN">PLN</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
        </div>
        <span>Supports: SteamID, Account URL, Wishlist URL</span>
    </div>
    <input id="submit" type="submit" value="Analise">
</div>
