header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D222B;
    padding: 0.5em 2em;
}

h1{
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
}

.hamburger{
    transform: scaleX(1.3);
    font-size: 2em;
}