header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D222B;
    height: 80px;
    padding: 0em 2em;


    h1{
        font-size: 1.5em;
        font-weight: 400;
        font-style: italic;
        cursor: pointer;

        a{
            color: white;
            text-decoration: none;
        }
    }

    .icon{
        display: flex;
        cursor: pointer;
        transform: scaleY(1.1);
        font-size: 1.8em;
    }

    nav{

        display: none;
        height: 100%;
        

    }
}


@media only screen and(min-width: 800px){
    header{

        padding-right: 0em;

        nav{

            display: flex;

            a{
                width: 140px;
                height: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: 250ms;
                font-weight: 300;
                color: white;
                text-decoration: none;
            }

            a:hover{
                background-color: #203453;
            }
        }

        .icon{
            display: none;
        }
    }
}
