


main{

    background-color: #29303D;
    padding: 1em;
    margin: 2em 1em;
    border-radius: 10px;

    h2{
        background-color: #1D222B;
        padding: 0.2em 1em; 
        border-radius: 5px;
        font-weight: 400;
    }

    .tags-container{
        display: flex;
        gap: 0.5em 1em;
        flex-direction: column;
        align-items: center;

        .tag{
            background-color: #1D222B;
            display: flex;
            border-radius: 5px;
            gap: 1em;
            justify-content: space-between;
            padding: 0.1em 1em;
            font-size: 0.9em;
            font-weight: 300;
        }
    }
    .options{

        span{
            padding-left: 1em;
            font-size: 2em;
            font-weight: 200;
            font-style: italic;
        }
}

}


@media only screen and(min-width: 900px) {

    main {
        display: flex;
        padding: 1em 2em;
        max-height: 80vh;
        max-width: 1050px;
        gap: 3em;

        .costs{
            min-width: 300px;
        }

        .right-data{
            width: auto;
        }

        .costs-container{
            height: 200px;
        }

        .tags{
            height: 200px;
        }

        .tags-container{
            margin-left: 2em;
            gap: 0.5em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .charts{
            display: flex;
            justify-content: space-between;
            min-height: 200px;
        }
    }
}