





<app-loader *ngIf = "!isFinished; else finished" [status] = 'status'></app-loader>

<ng-template #finished>

    <main>
        <div class="costs">
            <div class="all-games costs-container">
                <h2>Wishlist Total:</h2>
                <div class="costs-breakdown">
                    <span>Absulute Cost: {{sumAll.cleanPrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Current Cost: {{sumAll.discountPrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Average Price: {{sumAll.averagePrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Average Discount: {{ sumAll.averageDiscount | percent:'1.0-2' }}</span>
                </div>
            </div>
            <div class="top-10-games costs-container">
                <h2>Top 10 Games:</h2>
                <div class="costs-breakdown">
                    <span>Absulute Cost: {{sum10.cleanPrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Current Cost: {{sum10.discountPrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Average Price: {{sum10.averagePrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Average Discount: {{sum10.averageDiscount | percent:'1.0-2'}}</span>
                </div>
            </div>
            <div class="top-100-games costs-container">
                <h2>Top 100 Games:</h2>
                <div class="costs-breakdown">
                    <span>Absulute Cost: {{sum100.cleanPrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Current Cost: {{sum100.discountPrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Average Price: {{sum100.averagePrice | currency: currencyCode:'symbol-narrow':undefined:'fr-FR'}}</span>
                    <span>Average Discount: {{sum100.averageDiscount | percent:'1.0-2'}}</span>
                </div>
            </div>
        </div>
        <div class="right-data">

            <div class="top-15-tags">
                <h2>Top 15 Tags:</h2>
                <div class="tags-container">
                    <div class="tag" *ngFor = "let tag of topTags">
                        <span>{{tag[0]}}</span>
                        <span>{{tag[1]}}</span>
                    </div>
                </div>
            </div>
            <div class="Item-chart">
                <h2>Items Chart:</h2>
                <div class="legend">
                    <h3>Total Items: {{itemAmount}}</h3>
                    <div class="Items">
                        <span>Coming Soon:{{itemStatus.comingsoon}}</span>
                        <span>Free:{{itemStatus.free}}</span>
                        <span>Pre-order:{{itemStatus.preorder}}</span>
                        <span>Normal:{{itemStatus.normal}}</span>
                        <span>Discounted:{{itemStatus.discounted}}</span>
                    </div>
                </div>
                <div class="graph">

                </div>
            </div>
        </div>
    </main>

</ng-template>