


main{

    background-color: #29303D;
    padding: 1em;
    margin: 2em 1em;
    border-radius: 10px;

    h2{
        background-color: #1D222B;
        padding: 0.2em 1em; 
        border-radius: 5px;
        font-weight: 400;
    }

    .costs-container{

        .costs-breakdown{
            display: flex;
            flex-direction: column;
            margin-left: 1.5em;
            padding-left: 0.5em;
            border-left: white 2px solid;
        }
    }

    .tags-container{
        display: flex;
        gap: 0.5em 1em;
        flex-direction: column;
        align-items: center;

        .tag{
            background-color: #1D222B;
            display: flex;
            border-radius: 5px;
            gap: 1em;
            justify-content: space-between;
            padding: 0.1em 1em;
            font-size: 0.9em;
            font-weight: 300;
        }
    }

}


@media only screen and(min-width: 800px) {

    main {
        display: flex;
        min-height: 75vh;

        gap: 1em;

        .costs{
            min-width: 350px;
            width: 33%;
        }

        .right-data{
            width: 67%;
        }

        .tags-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}