


main{

    background-color: #29303D;
    padding: 1em;
    margin: 2em 1em;
    border-radius: 10px;

    h2{
        background-color: #1D222B;
        padding: 0.2em 1em; 
        border-radius: 5px;
        font-weight: 400;
    }

    .costs-container{

        .costs-breakdown{
            display: flex;
            flex-direction: column;
            margin-left: 1.5em;
            padding-left: 0.5em;
            border-left: white 2px solid;
        }
    }

    .tags-container{
        display: flex;
        gap: 0.5em 1em;
        flex-direction: column;
        align-items: center;

        .tag{
            background-color: #1D222B;
            display: flex;
            border-radius: 5px;
            gap: 1em;
            justify-content: space-between;
            padding: 0.1em 1em;
            font-size: 0.9em;
            font-weight: 300;
        }
    }

    .legend{

        h3{
            font-weight: 300;
            font-style: italic;
        }

        .legend-items {
            background-color: #1D222B;
            border-radius: 5px;
            font-size: 0.9em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0.2em 1em;
            font-weight: 300;
        }
    }

}


@media only screen and(min-width: 900px) {

    main {
        display: flex;
        padding: 1em 3em;
        max-height: 80vh;
        max-width: 1025px;
        gap: 3em;

        .costs{
            min-width: 300px;
        }

        .right-data{
            width: auto;
        }

        .costs-container{
            height: 200px;
        }

        .tags{
            height: 200px;
        }

        .tags-container{
            margin-left: 2em;
            gap: 0.5em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .legend{
            margin-left: 2em;
            
        }
    }
}